:host {
  display: block;
  width: 100%;
  --mat-button-tonal-container-color: transparent;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--mat-sys-primary-container);
  padding: 0 2rem;

  &__item {
    display: flex;
    gap: 0.5rem;
  }
}
