<div class="header-menu" *ngIf="{ activePage: activePage$ | async } as params">
  <div *ngIf="isAuthorized()" class="header-menu__item">
    <ng-container *ngFor="let route of routes">
      <a
        *appHasAccess="route.roles"
        [matButton]="params.activePage === route.route ? 'filled' : 'tonal'"
        [routerLink]="route.route"
      >
        {{ route.label }}
      </a>
    </ng-container>
  </div>

  <button matButton *ngIf="isAuthorized()" (click)="logout()">
    <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
    Sign Out
  </button>
</div>
