<app-button class="create-button-container" iconName="add" (click)="openDialog()">Create</app-button>

<app-table [tableConfig]="tableConfig()" [actionsTemplate]="actionsTemplate"></app-table>

<ng-template #actionsTemplate let-productId>
  <button matMiniFab aria-label="Edit customer">
    <mat-icon aria-hidden="false" fontIcon="edit" (click)="openDialog(productId)"></mat-icon>
  </button>
  <button matMiniFab aria-label="Open customer">
    <mat-icon class="icon" aria-hidden="false" fontIcon="visibility" (click)="openDialog(productId, true)"></mat-icon>
  </button>
</ng-template>
