<div class="create-button-container">
  <button matButton="filled">
    <mat-icon fontIcon="add">add</mat-icon>
    Create
  </button>
</div>

<table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.photoUrl" width="100" alt="avatar" />
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="actions-wrapper">
        <button matMiniFab aria-label="Edit customer">
          <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
        </button>
        <button matMiniFab aria-label="Open customer">
          <mat-icon class="icon" aria-hidden="false" fontIcon="visibility"></mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="footer-offset"></div>

<mat-paginator
  class="table-paginator"
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
></mat-paginator>
